%section#charges

  %h1 Failed Charges
  %ul.failed
    - @failed_charges.each do |charge|
      %li
        %span.name= charge.customer.name
        %span.amount== $#{charge.real_amount}
        %span.date= charge.created_at

  %h1 Disputed Charges
  %ul.disputed
    - @disputed_charges.each do |charge|
      %li
        %span.name= charge.customer.name
        %span.amount== $#{charge.real_amount}
        %span.date= charge.created_at

  %h1 Successful Charges
  %ul.successful
    - @successful_charges.each do |charge|
      %li
        %span.name= charge.customer.name
        %span.amount== $#{charge.real_amount}
        %span.date= charge.created_at